.banner {
  margin: 20rpx;
  background: #fff; 
  .swiper {
    border-radius: 10rpx;
    overflow: hidden;
    height: 320rpx; 
    .nav-box {
      height: 100%;
      position: relative; 
      .banner-img {
        height: 100%;
        width: 100%; 
      }
      .banner-tip {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        font-size: .9rem;
        padding: 6rpx 20rpx;
        box-sizing: border-box;
        color: #fff; 
      }
    }
  }
}
