.sort{
  margin: 2vh 4vw;
  padding: 2vh 4vw;
  background-color: #fff;
  box-sizing: border-box;
  .item{
    .sort-title{
      margin-bottom: 10rpx;
    }
    .radio{
      margin: 10rpx; 
    }
  }
}


