.search-bar {
  display: flex;
  align-items: center;
  margin: 2vh 4vw; 
  .box {
    flex: 1;
    display: flex;
    border-radius: 10rpx;
    background: #fff;
    align-items: center;
    margin-right: 20rpx; 
    background: #f6f6f6;
    border-radius: .5rem;
      .search-content {
        padding: 20rpx;
        width: 100%; 
      }
      .search-icon {
        width: 30rpx;
        height: 30rpx;
        margin: 0 20rpx;
        flex-shrink: 0; 
      }
    }
  .search-button {
    font-weight: bold;
    padding: 18rpx; 
  }
  .search-button.active {
    background: var(--main-color);
    border-radius: 10rpx;
    color: #fff; 
  }
}
